	
<div class="jumbotron center">
	<h1>We are an online fashion subscription service</h1>
	<p1>Subscribe. Order. Flaunt. </p1>

<p> <%= link_to "Find a dress now" , dresses_path , class: "btn btn-info" %> </p>
</div>